{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="page-title wb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h2><i class="fa fa-leaf bg-green"></i> Blog</h2>
      </div><!-- end col -->
      <div class="col-lg-2 col-md-2 col-sm-12 d-flex justify-content-end hidden-xs-down hidden-sm-down">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ol>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end page-title -->




<section class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="page-wrapper">
          <div class="blog-title-area">
            <span class="color-green">
              {% for tag in post.tags.all %}
              <span class="bg-aqua">
                  <a style="padding: .5rem 0.8rem;" href="{% url "blog:post_list_by_tag" tag.slug %}">
                      {{ tag.name }}
                  
                  </a>
              </span>
              {% if not forloop.last %}, {% endif %}
           {% endfor %}
            </span>

            <h3>{{ post.title }}</h3>

            <div class="blog-meta big-meta">
              <small><a href="garden-single.html" title="">{{post.publish|date:"d F Y" }} </a></small>
              <small><a href="blog-author.html" title="">by {{post.author }}</a></small>
              <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
            </div><!-- end meta -->

            <div class="post-sharing">
              <ul class="list-inline">
                <li> <span class="down-mobile">
                    <div style="padding: .8rem 0;" class="fb-button btn btn-primary"
                      data-href="http://127.0.0.1:8000/{{post.publish.day}}/{{post.slug}}" data-layout="button_count"
                      data-size="large"><a target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fpost%2F9%2F&amp;src=sdkpreparse"
                        class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a></div>
                  </span></li>
                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span
                      class="down-mobile">Tweet on Twitter</span></a></li>
                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div><!-- end post-sharing -->
          </div><!-- end title -->

          <div class="single-post-media">
            <img src="{{ post.thumbnail.url }} " alt="" class="img-fluid">
          </div><!-- end media -->

          <div class="blog-content">
            <div class="pp">
              <p style="text-align: justify;">
                {% if post.incredient_pdf %}
              <div>
                <div class="incredient"
                  style=" width:20rem; height:35rem;overflow-x: scroll;overflow-y: scroll; float: right">
                  <img src=" {{ post.incredient_pdf.url }} " class="img" alt="blog1">
                </div>
              </div>
              {% endif %}
              {{ post.body|safe }}


              </p>
            </div><!-- end pp -->

            <img src="upload/garden_single_02.jpg" alt="" class="img-fluid img-fullwidth">

            <div class="pp">
                
              <p><img src="upload/garden_single_03.jpg" class="float-left" width="340" alt="">
              </p>
              
              
              <h5 style="display: flex; flex-direction: row; width: 100%; "> Was this post helpful?
                <div class="like-unlike">
                  <form style="display: flex; flex-direction: row; margin-top:-.2rem;" action="" method="POST">
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 1rem;"
                      class="like">
                      <button type="submit" name="post_id" value=" {{post.id}} " style="border:none;background:none;">
                        <i style=" border: 1px solid #ddd; padding:.3rem; margin-bottom:.2rem;" class="fa fa-thumbs-up"
                          aria-hidden="true"></i>
                      </button>
                      <span> {{ total_likes }} 44 </span>
                    </div>


                    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 1rem;"
                      class="like">
                      <button type="submit" name="post_unlike_id" value=" {{post.id}} "
                        style="border:none;background:none;">
                        <i style=" border: 1px solid #ddd; padding:.3rem; margin-bottom:.2rem;"
                          class="fa fa-thumbs-down" aria-hidden="true"></i>
                      </button>
                      <span> {{ total_unlikes }} 0 </span>
                    </div>

                
                  </form>
                </div>
              </h5>
              <h5 class="mt-4 mb-4" id=" article-source " > Article Sources  <small id=" article-source " class="ml-2" style="font-size: 1rem;"> <i class="fas fa-plus-circle"></i>  </small> 
              <div style="display: none;"  id=" article-source-des"> How to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancingHow to not practice emotional distancing during social distancing</div>
              </h5>



            </div><!-- end pp -->
          </div><!-- end content -->

          <div class="blog-title-area">
            <div class="tag-cloud-single">
              <span>Tags</span>
              {% for tag in tags %}
              <small><a href="{% url 'blog:post_list_by_tag' tag.slug %}" title="">{{ tag.name }}</a></small>
              {% endfor %}
            </div><!-- end meta -->


            <div class="post-sharing">
              <ul class="list-inline">
                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span
                      class="down-mobile">Share on Facebook</span></a></li>
                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span
                      class="down-mobile">Tweet on Twitter</span></a></li>
                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div><!-- end post-sharing -->
          </div><!-- end title -->

          <div class="row">
            <div class="col-lg-12">
              <div class="banner-spot clearfix">
                <div class="banner-img">
                  <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                </div><!-- end banner-img -->
              </div><!-- end banner -->
            </div><!-- end col -->
          </div><!-- end row -->

          <hr class="invis1">

          <div class="custombox authorbox clearfix">
            <h4 class="small-title">About author</h4>
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <img src="upload/author.jpg" alt="" class="img-fluid rounded-circle">
              </div><!-- end col -->

              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <h4><a href="#">Jessica</a></h4>
                <p>Quisque sed tristique felis. Lorem <a href="#">visit my website</a> amet, consectetur adipiscing
                  elit. Phasellus quis mi auctor, tincidunt nisl eget, finibus odio. Duis tempus elit quis risus congue
                  feugiat. Thanks for stop Forest Time!</p>

                <div class="topsocial">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i
                      class="fa fa-facebook"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i
                      class="fa fa-youtube"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
                      class="fa fa-pinterest"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
                      class="fa fa-twitter"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
                      class="fa fa-instagram"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i
                      class="fa fa-link"></i></a>
                </div><!-- end social -->

              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end author-box -->

          <hr class="invis1">




          <div class="custombox clearfix">
            <h4 class="small-title">You may also like</h4>
            {% if similar_posts %}
            <div class="row">
              {% for related in similar_posts %}
              <div class="col-lg-6">
                <div class="blog-box">
                  <div class="post-media">
                    <a href="garden-single.html" title="">
                      <img src="{{ related.thumbnail.url }}" alt="" class="img-fluid">
                      <div class="hovereffect">
                        <span class=""></span>
                      </div><!-- end hover -->
                    </a>
                  </div><!-- end media -->
                  <div class="blog-meta">
                    <h4><a href="{{ related.get_absolute_url }} " title="">{{ related.title|truncatechars:55 }}</a></h4>
                    <small><a href="blog-category-01.html" title="">Trends</a></small>
                    <small><a href="blog-category-01.html" title=""> {{ related.publish }} </a></small>
                  </div><!-- end meta -->
                </div><!-- end blog-box -->
              </div><!-- end col -->
              {% endfor %}
            </div><!-- end row -->
            {% else %}
            <h4> There is no similar Post </h4>
            {% endif %}
          </div><!-- end custom-box -->

          <hr class="invis1">

          <div class="custombox clearfix">
            <h4 class="small-title">3 Comments</h4>
            <div class="row">
              <div class="col-lg-12">
                <div class="comments-list">
                  <div class="media">
                    <a class="media-left" href="#">
                      <img src="upload/author.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading user_name">Amanda Martines <small>5 days ago</small></h4>
                      <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer
                        elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.
                        Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone
                        Kickstarter, drinking vinegar jean.</p>
                      <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                  </div>
                  <div class="media">
                    <a class="media-left" href="#">
                      <img src="upload/author_01.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                      <h4 class="media-heading user_name">Baltej Singh <small>5 days ago</small></h4>

                      <p>Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.
                        Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit
                        small.</p>

                      <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                  </div>
                  <div class="media last-child">
                    <a class="media-left" href="#">
                      <img src="upload/author_02.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                      <h4 class="media-heading user_name">Marie Johnson <small>5 days ago</small></h4>
                      <p>Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo
                        biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin
                        coffee. Banksy, elit small.</p>

                      <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                  </div>
                </div>
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end custom-box -->

          <hr class="invis1">

          <div class="custombox clearfix">
            <h4 class="small-title">Leave a Reply</h4>
            <div class="row">
                <div class="col-lg-12">
                    <form  method="POST" action="." class="form-wrapper" style="border: 1px dashed #ddd;">
                      {% csrf_token %}
                      <div style="padding: 0 .5rem; " class=" fb-comments"
                        data-href="http://127.0.0.1:8000/{{post.publish.day}}/{{post.slug}}" data-numposts="5"
                        data-width=""> </div>
                    </form>
                </div>
            </div>
        </div>
        
        </div><!-- end page-wrapper -->
      </div><!-- end col -->

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="sidebar">
          <div class="widget">
            <h2 class="widget-title">Search</h2>
            <form class="form-inline search-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search on the site">
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </form>
          </div><!-- end widget -->

          <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
              <div class="list-group">

                {% for obj in recent %}
                <a href="{{ obj.get_absolute_url }}"
                  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="w-100 justify-content-between">
                    <img style="width: 4.5rem;height:4rem;" src="{{ obj.thumbnail.url }}" alt=""
                      class="img-fluid float-left">
                    <h5 class="mb-1"> {{ obj.title|truncatechars:60 }} </h5>
                    <small>{{ obj.publish}}</small>
                  </div>
                </a>
                {% endfor %}

              </div>
            </div><!-- end blog-list -->
          </div><!-- end widget -->

          <div class="widget">
            <h2 class="widget-title">Advertising</h2>
            <div class="banner-spot clearfix">
              <div class="banner-img">
                <img src="upload/banner_04.jpg" alt="" class="img-fluid">
              </div><!-- end banner-img -->
            </div><!-- end banner -->
          </div><!-- end widget -->

          <div class="widget">
            <h2 class="widget-title">Instagram Feed</h2>
            <div class="instagram-wrapper clearfix">
              <a href="#"><img src="upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
              <a href="#"><img src="upload/garden_sq_09.jpg" alt="" class="img-fluid"></a>
            </div><!-- end Instagram wrapper -->
          </div><!-- end widget -->

          <div class="widget">
            <h2 class="widget-title">Popular Categories</h2>
            <div class="link-widget">
              <ul>
                {% for tag in tags %}
                <li>
                  <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}
                    <span>(21)</span>
                  </a>
                </li>
                {% endfor %}
                <li><a href="#">Gardening <span>(21)</span></a></li>
                <li><a href="#">Pool Design <span>(66)</span></a></li>
              </ul>
            </div><!-- end link-widget -->
          </div><!-- end widget -->
        </div><!-- end sidebar -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>

<div class="dmtop">Scroll to Top</div>



<!-- 
<main>
  <section class="container">
    <div class="site-content">
      <div class="posts" style="">

        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
          <div class="post-image">
            <div>
              <img src=" {{ post.thumbnail.url }} " class="img" alt="blog1">
            </div>

          </div>
          <div class="post-title">
            <a href=""> {{ post.title }}</a>
            <p>

              {% if post.incredient_pdf %}
            <div>
              <div class="incredient"
                style=" width:20rem; height:35rem;overflow-x: scroll;overflow-y: scroll; float: right">
                <img src=" {{ post.incredient_pdf.url }} " class="img" alt="blog1">
              </div>
            </div>
            {% endif %}



            {{ post.body|linebreaks }}

            </p>



          </div>
        </div>
        <hr>

        <header>
          <!-- <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.approve_comments.count }})</span></h3> -->
        <!-- </header>



        <div class="add-comment">
          <header>
            <h3 class="h6">Leave a reply</h3>
          </header>
          <form method="POST" action="." class="form-control">
            {% csrf_token %}
            <div class="row">
              <div class="form-control col-md-12" ">
                      <div class=" fb-comments" data-href="http://127.0.0.1:8000/{{post.publish.day}}/{{post.slug}}"
                data-numposts="5" data-width=""></div>



            </div>
            <div class="form-group col-md-12">
              <!-- <button style="margin: 20px 0px;" type="submit" class="btn form-btn">Submit Comment</button> -->
            <!-- </div>
        </div>
        </form>
      </div>
  
      <aside class="sidebar">
        <div class="category">
          <h2>Category</h2>
          <ul class="category-list">
            {% for tag in tags %}
            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
              <a style="margin:auto;" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                {{ tag.name }}
              </a>
              <!-- <span>( )</span> -->
            <!-- </li>
            {% endfor %}
          </ul>
        </div>
        <div class="popular-post">
          <h2>Recent Post</h2>
  
  
          {% for obj in recent %}
          <div class="post-content" data-aos="flip-up" data-aos-delay="200">
            <div class="post-image">
              <div>
                <img src=" {{ obj.thumbnail.url }} " class="img" alt="blog1">
              </div>
              <div class="post-info flex-row">
                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;
                  {{ obj.timestamp|timesince}}
                </span>
                <span>2 Comments</span>
              </div>
            </div>
            <div class="post-title">
              <a href=" {{ obj.get_absolute_url }} "> {{ obj.title }} </a>
            </div>
          </div>
          {% endfor %}
  
  
  
        </div>
  
        <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
          <h2>Newsletter</h2>
          <div class="form-element">
            <input type="text" class="input-element" placeholder="Email">
            <button class="btn form-btn">Subscribe</button>
          </div>
        </div>
  
      </aside>
      </div>
    </section>
  </main>  -->
  
  
<!-- 
      </div>

    </div>

    <aside class="sidebar">
      <div class="category">
        <h2>Category</h2>
        <ul class="category-list">
          {% for tag in tags %}
          <li class="list-items" data-aos="fade-left" data-aos-delay="100">
            <a style="margin:auto;" href="{% url 'blog:post_list_by_tag' tag.slug %}">
              {{ tag.name }}
            </a>
            <!-- <span>( )</span> -->
          <!-- </li>
          {% endfor %}
        </ul>
      </div>
      <div class="popular-post">
        <h2>Recent Post</h2>


        {% for obj in recent %}
        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
          <div class="post-image">
            <div>
              <img src=" {{ obj.thumbnail.url }} " class="img" alt="blog1">
            </div>
            <div class="post-info flex-row">
              <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;
                {{ obj.timestamp|timesince}}
              </span>
              <span>2 Comments</span>
            </div>
          </div>
          <div class="post-title">
            <a href=" {{ obj.get_absolute_url }} "> {{ obj.title }} </a>
          </div>
        </div>
        {% endfor %}



      </div>

      <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
        <h2>Newsletter</h2>
        <div class="form-element">
          <input type="text" class="input-element" placeholder="Email">
          <button class="btn form-btn">Subscribe</button>
        </div>
      </div>

    </aside>
    </div>
  </section>
</main>  -->



{% endblock content %}


{% block script %}
<script>
  document.getElementById('article-source').addEventListener("click", function(){
      console.log("selected");
  })
</script>

{% endblock script %}



<!-- <h1>{{ post.title }}</h1>
<p class="date">
Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|linebreaks }}


<h2>Similar posts</h2>

{% for post in similar_posts %}
<p>
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
There are no similar posts yet.
{% endfor %} -->