{% extends "blog/base.html" %}
{% block title %}|Home {% endblock %}
{% block content %}

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        {% for obj in posts %}

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a  href="{{ obj.get_absolute_url }}" title="">
                                        <img style="width: 15rem; height: 13rem;" src="{{ obj.thumbnail.url }}" alt="" class="rounded img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <span class="bg-aqua"><a href="garden-category.html" title=""> Essential Oil</a></span>
                                    
                                    
                                      {% for tag in obj.tags.all %}
                                        <span class="bg-aqua">
                                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                                {{ tag.name }}
                                            
                                            </a>
                                        </span>
                                        {% if not forloop.last %}, {% endif %}
                                     {% endfor %}
                                    
                                <h4><a href="{{ obj.get_absolute_url }}" title=""> {{ obj.title|truncatechars:90 }}</a></h4>
                                <p>{{ obj.body|linebreaks|truncatechars:180 }}</p>
                                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small>
                                <small><a href="{{ obj.get_absolute_url }}" title="">11 July, 2017</a></small>
                                <small><a href="#" title="">by Matilda</a></small> <br>
                                <!-- <button class="btn post-btn rounded text-dark"> <a href="{{ obj.get_absolute_url }}"> Read More </a> 
                                    <i class="fas fa-arrow-right"></i></button> -->
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        {% endfor %}

                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_05.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="invis">

                      
                        
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                {% for obj in recent %}
                                <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img style="width: 4.5rem;height:4rem;" src="{{ obj.thumbnail.url }}" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1"> {{ obj.title|truncatechars:28  }}  </h5> 
                                        <small>{{ obj.publish}}</small>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_04.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Instagram Feed</h2>
                        <div class="instagram-wrapper clearfix">
                            <a href="#"><img src="upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="upload/garden_sq_09.jpg" alt="" class="img-fluid"></a>
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                {% for tag in tags %}
                                <li>
                                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}
                                    <span>(21)</span>
                                    </a>
                                </li>
                                {% endfor %}
                                <li><a href="#">Outdoor Living <span>(15)</span></a></li>
                                <li><a href="#">Indoor Living <span>(31)</span></a></li>
                                <li><a href="#">Shopping Guides <span>(22)</span></a></li>
                                <li><a href="#">Pool Design <span>(66)</span></a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>



<main>

    <!-- ---------------------- Site Content -------------------------->

    <!-- <section class="container">
        <div class="site-content">
            <div class="posts" style="border-right: 1px solid #ddd;">
                {% for obj in posts %}
                <div class="post-content" style="display: flex; flex-direction: row;" >
                    <div class="post-image">
                        <div style="width: 18rem; height: 18rem; ">
                            <img  src="{{ obj.thumbnail.url }}" class="img" alt="blog1">
                        </div>
                        
                    </div>
                    <div class="post-title">
                        <a href=" {{ obj.get_absolute_url }} "> {{ obj.title }} </a>
                        <p>
                            {{ obj.overview|linebreaks|truncatechars:200 }}
                        </p>
                        <button class="btn post-btn"> <a href="{{ obj.get_absolute_url }}"> Read More </a> &nbsp;
                            <i class="fas fa-arrow-right"></i></button>

                            <p class="tags">
                                Tags:
                                {% for tag in obj.tags.all %}
                                <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                {{ tag.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                </p>
                    </div>
                </div>
               
                <hr>

                {% endfor %}


                {% include "pagination.html" with page=object_list %}
            </div>
            <aside class="sidebar">
                <div class="category">
                    <h2>Category</h2>
                    <ul class="category-list">
                        {% for tag in tags %}
                        <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                {{ tag.name }}
                                </a>
                            <span>( {{ tag.tags__name__count }} )</span>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="popular-post">
                    <h2>Recent Post</h2>


                    {% for obj in recent %}
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src=" {{ obj.thumbnail.url }} " class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;
                                    {{ obj.timestamp|timesince}}
                                </span>
                                <span>2 Comments</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href=" {{ obj.get_absolute_url }} "> {{ obj.title }} </a>
                        </div>
                    </div>
                    {% endfor %}



                </div>
                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn">Subscribe</button>
                    </div>
                </div>
               
            </aside>
        </div>


    </section> -->


    <!-- -----------x---------- Site Content -------------x------------>

</main>




{% endblock %}